package examples

import (
	"github.com/HumamAlhusaini/Goship-Active-Search/internal/model"
	"github.com/HumamAlhusaini/Goship-Active-Search/internal/views/components"
)

// example
templ StatusNotFound() {
	@components.Status(model.Status{
		Code:        404,
		Title:       "Not Found",
		Description: "Looks like there's nothing here...",
		ReturnButton: model.Button{
			Label: "Go back",
		},
	})
}
